<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-tab">Chamando Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-card>    
    <ion-card-content class="chamandoSenha">
      <div class="tipoSenha">
        <ion-text>
          <p>Senha Preferencial</p>
        </ion-text>
      </div>
      <div class="senhaAtual">
        <ion-text class="senha">
          <p>230327-SP06</p>
        </ion-text>
        <ion-text class="guiche">
          <p>Guichê 02</p>
        </ion-text>
      </div>
    </ion-card-content>

    <ion-card-content class="historico-senhas">
      
      <div class="historico-senhas-container">
        <div class="historico-senhas-header">
          <ion-text>
            <h2>Senhas Chamadas</h2>
          </ion-text>
        </div>

        
        <ion-list>
          <ion-item>            
            <ion-label>230327-SP06</ion-label>
            <ion-text class="sp-container">
              <p>Senha Preferencial</p>
            </ion-text>
          </ion-item>
          <ion-item>            
            <ion-label>230327-SP06</ion-label>
            <ion-text class="sn-container">
              <p>Senha Normal</p>
            </ion-text>
          </ion-item> 
          <ion-item>            
            <ion-label>230327-SP06</ion-label>
            <ion-text class="se-container">
              <p>Retirada de Exame</p>
            </ion-text>
          </ion-item>         
        </ion-list>
      </div>
    </ion-card-content>

    <ion-card-content class="suaSenha-container">
      <div class="suaSenha-senha">        
          <ion-text class="suaSenha-header">
            <h2>Sua Senha</h2>
          </ion-text>      
        
          <ion-text class="suaSenha-text">
            <p>230327-SP06</p>
          </ion-text>               
      </div>
      
      <div class="suaSenha-tipo">        
          <ion-text class="suaSenha-header">
            <h2>Tipo de senha</h2>
          </ion-text>        
          <ion-text class="suaSenha-text">
            <p>Senha Preferencial</p>
          </ion-text>                
      </div>
    </ion-card-content>

    <ion-card-content class="alerta">      
      <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
      <ion-text color="danger">
        <h2>Aguarde seu Atendimento!</h2>
      </ion-text>
    </ion-card-content>

    <ion-card-content class="gerarSenha">
      <ion-button expand="block" shape="round" fill="clear">
        Gerar senha
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
